.bleu{
    color: #2196F3;
}
.table-responsive{
    margin-top: 90px;
}
.d-flex .bloc{
    position: relative;
    left: -600px;
    top: 80px;
}
thead input{
    width: 16px;
    height: 16px;
}
thead th {
    color: #2196F3;
    font-size: 15px;
}
.d-flex{
    position: relative;
    top: 30px;
}
.form-control{
    width: 400px;
}