<div class="row" >
  @for (analytic of AnalyticEcommerce; track analytic) {
    <div class="col-md-6 col-xl-4">
      <app-card [showHeader]="false" blockClass="dashboard-card">
        <h6 class="mb-2 f-w-400 text-muted">{{ analytic.title }}</h6>
        <h4 class="mb-3">
          {{ analytic.amount }}
        </h4>
      </app-card>
    </div>
  }
  <div class="col-md-12 col-xl-8">
    <app-monthly-bar-chart />
  </div>
  <div class="col-md-12 col-xl-4">
    <app-income-overview-chart />
  </div>
</div>
