<!-- <p>forget-password works!</p> -->
<div class="image">
    <img src="../../../../assets/images/authentication/login.svg" alt="">
  </div>
  <div class="logo">
    <img src="../../../../assets/images/authentication/logo.png" alt="">
  </div>
  
  <div class="auth-main">
    <div class="auth-wrapper v3">
      <div class="auth-form">
        <div class="title">MOT DE PASSE OUBLIÉ</div>
        <div class="barre">.</div>
        
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Renseignez votre Email</label>
            <input type="email" formControlName="email" class="form-control" placeholder="Entrer votre email">
            
            <div class="validation-messages" *ngIf="forgotPasswordForm.get('email')?.touched">
              <p class="message" [class.success]="!forgotPasswordForm.get('email')?.errors?.['required']">
                Email requis
              </p>
              <p class="message" [class.success]="!forgotPasswordForm.get('email')?.errors?.['email']">
                Format email valide
              </p>
            </div>
          </div>
  
          <button class="but" type="submit" [disabled]="!forgotPasswordForm.valid">
            ENVOYER
          </button> <br>
          <div *ngIf="successMessage" class="success-message">
            {{ successMessage }}
          </div>
          
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>

        </form>
      </div>
    </div>
  </div>