<!-- <ul class="list-unstyled">
  <li class="pc-h-item d-none d-md-inline-flex">
    <i class="search f-12" antIcon type="search" theme="outline"></i>
    <input
      type="search"
      [(ngModel)]="searchQuery"
      (input)="onSearch()"
      placeholder="Rechercher par nom"
      class="form-control"
    >
  </li>
</ul> -->

<div class="ajout">
  <button type="button" class="btn btn-primary m-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Ajouter une cohorte
  </button>
</div>

<!-- Modal pour ajouter une cohorte -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" (hidden.bs.modal)="resetForm()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajout Cohorte</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cohorteForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="nom" class="form-label">Nom de la cohorte</label>
            <input type="text" class="form-control" formControlName="nom">
          </div>
          <div class="mb-3">
            <label for="annee_scolaire" class="form-label">Année scolaire</label>
            <input type="text" class="form-control" formControlName="annee_scolaire">
          </div>
          <div class="mb-3">
            <label for="promo" class="form-label">Promo</label>
            <input type="number" class="form-control" formControlName="promo">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary" [disabled]="cohorteForm.invalid">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Liste des cohortes -->
<div class="row g-3">
  <div class="col-md-6 col-xl-4" *ngFor="let cohorte of getPaginatedCohortes()">
    <div class="" (click)="voirApprenants(cohorte.id)" style="cursor: pointer">
      <div class="card-body">
        <div class="card shadow-sm border-0 mb-4 rounded-4">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="me-3">
                <div class="bg-primary rounded-circle p-3 d-flex align-items-center justify-content-center" style="width: 60px; height: 50px;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" color="white" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                  </svg>
                </div>
              </div>
              <div class="flex-grow-1">
                <h6 class="mb-1 text-dark">{{ cohorte.nom }}</h6>
                <small class="text-muted">{{ cohorte.annee_scolaire }}</small>
              </div>
              <div class="text-end">
                <p class="mb-0">Promo: {{ cohorte.promo}}</p>
              </div>
            </div>
            <div>Apprenants : {{getNombreApprenants(cohorte)}}</div>
            <div class="d-flex justify-content-end mt-3" (click)="$event.stopPropagation()">
              <button class="btn btn-link text-danger me-2 p-0" (click)="deleteCohorte(cohorte.id)" [disabled]="getNombreApprenants(cohorte) > 0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash-fill bi-xxl" viewBox="0 0 16 16">
                  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                </svg>
              </button>
              <button class="btn btn-link text-secondary p-0" (click)="editCohorte(cohorte)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pagination -->
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
      <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<!-- Modal pour modifier une cohorte -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true" (hidden.bs.modal)="resetForm()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modification Cohorte</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cohorteForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="nom" class="form-label">Nom de la cohorte</label>
            <input type="text" class="form-control" formControlName="nom">
          </div>
          <div class="mb-3">
            <label for="annee_scolaire" class="form-label">Année scolaire</label>
            <input type="text" class="form-control" formControlName="annee_scolaire">
          </div>
          <div class="mb-3">
            <label for="promo" class="form-label">Promo</label>
            <input type="number" class="form-control" formControlName="promo">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary" [disabled]="cohorteForm.invalid">Modifier</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteCohorteModal" tabindex="-1" aria-labelledby="deleteCohorteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteCohorteModalLabel">Confirmation de suppression</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer la cohorte "{{ cohorteToDelete?.nom }}" ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Supprimer</button>
      </div>
    </div>
  </div>
</div>
