<!-- login.component.html -->
<div class="image">
  <img src="../../../../assets/images/authentication/login.svg" alt="">
</div>
<div class="logo">
  <img src="../../../../assets/images/authentication/logo.png" alt="">
</div>

<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="login">SE CONNECTER</div>
      <div class="barre">.</div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="email">Email</label>
          <input type="email" formControlName="email" class="form-control">

          <div class="validation-messages" *ngIf="loginForm.get('email')?.touched">
            <p class="message" [class.success]="!loginForm.get('email')?.errors?.['required']">
              Email requis
            </p>
            <p class="message" [class.success]="!loginForm.get('email')?.errors?.['email']">
              Format email valide
            </p>
          </div>
        </div>

        <div class="form-group">
          <label>Mot de passe</label>
          <div class="password-field">
            <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control">
            <i class="password-toggle" (click)="togglePassword()">
              <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
              <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>
            </i>
          </div>
          <div id="link" (click)="navigateToForgotPassword()">Mot de passe Oublié</div>


          <div class="validation-messages" *ngIf="loginForm.get('password')?.touched">
            <p class="message" [class.success]="!loginForm.get('password')?.errors?.['required']">
              Mot de passe requis
            </p>
            <p class="message" [class.success]="!loginForm.get('password')?.errors?.['minlength']">
              Minimum 8 caractères
            </p>
          </div>
        </div>
        <button class="but" type="submit" [disabled]="!loginForm.valid">Se connecter</button>
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </form>
    </div>
  </div>
</div>
