.card {
  transition: all 0.3s ease;
  
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1) !important;
  }
}

.btn-link {
  text-decoration: none;
  
  &:hover {
    opacity: 0.8;
  }
}
.card-body svg {
  width: 30px;
  height: 30px;
}

.ajout{
  margin-bottom: 25px;
}
.ajout button{
 width: 20em;
 height: 3em;
}
