.card {
    .card-body.dashboard-card {
      padding: 18px;
      padding-bottom: 20px;
    }
  }

  .user-group {
    img {
      position: relative;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      z-index: 2;
      transition: all 0.1s ease-in-out;
      border: 2px solid var(--bs-white);
      + img {
        margin-left: -14px;
      }
      &:hover {
        z-index: 5;
      }
    }
  }

  .badge-circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  .h2{
    color: #2196F3;
  }

  thead th {
    color: #2196F3;
    font-size: 15px;
}

.btn-primary {
  background-color: #2196F3;
  border: none;
  font-size: 14px;
  &:hover {
    background-color: #0b5ed7;
  }
}

.search-wrapper .search-input {
  max-width: 100%;
}

